
    
    h1{
    color: rgb(14, 14, 54);
}

body{
    background-color: linear-gradient(red, yellow);

}

a:link {
color: blue;

}

a:visited {
    color: gray;
}

a:hover {
    color: red;
}

ul{
    letter-spacing: 20px;
    transform: capitalize;
    text-shadow: 5px 5px 5px;
    font-weight: bold;
}

iframe{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -60%);
    width: 50%;

}
table, th, td {
    border: 1px solid black;